FDA_CERTIFICATE_AN/Web References/WS_LOG/WS_LOG_CENTER.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADD_LOG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FIELDS" type="tns:CLS_FIELDS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CLS_FIELDS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WHOS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHATs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHYs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHEREs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HOWs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DATAs" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ADD_LOGSoapIn">
    <wsdl:part name="parameters" element="tns:ADD_LOG" />
  </wsdl:message>
  <wsdl:portType name="WS_LOG_CENTERSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ADD_LOG">
      <wsdl:input message="tns:ADD_LOGSoapIn" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LOG_CENTERSoap" type="tns:WS_LOG_CENTERSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ADD_LOG">
      <soap:operation soapAction="http://tempuri.org/ADD_LOG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LOG_CENTERSoap12" type="tns:WS_LOG_CENTERSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ADD_LOG">
      <soap12:operation soapAction="http://tempuri.org/ADD_LOG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LOG_CENTER">
    <wsdl:port name="WS_LOG_CENTERSoap" binding="tns:WS_LOG_CENTERSoap">
      <soap:address location="http://10.111.28.108/LOG_FDA/WS_LOG_CENTER.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LOG_CENTERSoap12" binding="tns:WS_LOG_CENTERSoap12">
      <soap12:address location="http://10.111.28.108/LOG_FDA/WS_LOG_CENTER.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>